.flex{
    display: flex;
    width: 960px;
    max-width: 100%;
    flex-wrap: wrap;
}

.flex img{
    max-width: 100%;
}

.coluna{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    /*flex: 1; Sempre adequar no tamanho no container */
    margin: 1em;
    width: 250px;
}

.botao{
    align-self: flex-start;/*Muda o posicionamento, todos os botões vão para o final*/
    margin-top: auto;
}